.answer.card(id= answer.id)
  .numbers.like-badge
    .number
      span.number.num-likes= answer.numLikes
    .button
      a.like.answer-like-btn(href='#', data-id=answer.id)
        i.fa.fa-thumbs-up
        | 
        | Like

    .number
      span.number.num-dislikes= answer.numdisLikes
    .button
      a.like.answer-dislike-btn(href='#', data-id=answer.id)
        i.fa.fa-thumbs-down
        | 
        | disLike

  .card-body
    .content= answer.content
  .row.card-body
    .col-sm
    .col-sm.text-right
      .author
        | 댓글 게시자 #{moment(answer.createdAt).format('YYYY-MM-DD')}
        if answer.author
          | 
          | by #{answer.author.name}


